<div class="card px-7 py-4 rounded-3 border-0 <%= teammate.isFirst ? 'bg-gold-50' : 'bg-primary-50' %>" id="<%= teammate.id %>">
  <div class="card-body p-0 d-flex align-items-center column-gap-4">
    <div class="bg-white overflow-hidden rounded-circle avatar">
      <img src="<%= teammate.avatar %>" alt="<%= teammate.name %>" class="img-fluid">
    </div>
    <p class="card-text fs-6 fw-regular mb-0 flex-grow-1 d-flex justify-content-between text-secondary-800"><span class="fw-bold"><%= teammate.name %></span> <span>本周已完成 <span class="fw-bold d-inline-block mx-1 text-gold-500"><%= teammate.finished %></span> %</span></p>
  </div>
</div>
