<ul
  class="position-fixed fixed-bottom nav nav-pills px-9 justify-content-between bg-white"
>
  <li class="nav-item">
    <a
      class="nav-link fw-bold text-center <%= currentPage === 'sport' ? 'text-warning-100' : 'text-secondary-300' %>"
      href="sport"
    >
      <div class="p-2 rounded-circle mb-1 <%= currentPage === 'sport' ? 'bg-warning-100' : 'bg-secondary-300' %>">
        <img src="/assets/images/sport.svg" alt="運動" />
      </div>
      運動
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link fw-bold text-center <%= currentPage === 'team' ? 'text-warning-100' : 'text-secondary-300' %>" href="team">
      <div class="p-2 rounded-circle mb-1 <%= currentPage === 'team' ? 'bg-warning-100' : 'bg-secondary-300' %>">
        <img src="/assets/images/team.svg" alt="隊伍" />
      </div>
      隊伍
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link fw-bold text-center <%= currentPage === 'setting' ? 'text-warning-100' : 'text-secondary-300' %>"
      href="setting"
    >
      <div class="p-2 rounded-circle mb-1 <%= currentPage === 'setting' ? 'bg-warning-100' : 'bg-secondary-300' %>">
        <img src="/assets/images/setting.svg" alt="設定" />
      </div>
      設定
    </a>
  </li>
</ul>
<script>
  const currentPage = '<%= currentPage %>';
  document.querySelectorAll('.nav-link').forEach((navLink) => {
    navLink.addEventListener('click', (event) => {
      event.preventDefault();
      const to = navLink.getAttribute('href');
      if (to === currentPage) return;
      window.location.href = `/iRun/pages/${to}/`;
    });
  });
</script>