<div class="picker-wrapper <%= id %>">
  <div class="js-inline-picker <%= id %>-picker"></div>
  <input type="text" id="<%= id %>" class="d-none">
</div>
<script type="module">
  import Picker from 'pickerjs';

  const format = "<%= format %>";
  const id = "<%= id %>";
  const inputEl = document.getElementById(`${id}`);
  const pickerEl = document.querySelector(`.${id}-picker`);
  const activePicker = new Picker(pickerEl, {
    container: '.picker-wrapper',
    format: format,
    inline: true,
  });
  const picker = document.querySelector(`.${id} .picker-cell[data-token="${format}"]`);

  picker.addEventListener('touchend', (event) => {
    const pickedPicker = picker.querySelector(`.${id} .picker-picked`)
    inputEl.value = pickedPicker.textContent;
  });

  window.addEventListener('beforeunload', () => {
    activePicker.destroy();
  });
</script>
